{% extends 'user/index.html' %}

{% block inline_css %}
{{block.super}}
{% include 'user_image/image_set.css' %}
{% include 'submission/list.css' %}
{% include 'job/status.css' %}
{% include 'dashboard/api_key.css' %}
<style type="text/css">
#profile_metadata {
    padding:.5em;
    width: 275px;
    float:right;
    background-color:#eee;
}
#profile_metadata p {
    margin-left:1em;
}
#profile_data {
    max-width: 600px;
    float:left;
}
</style>
{% endblock %}

{% block title %}
{{block.super}} &gt; 
{% include 'user/display_name.html' with user=display_user%}
{% endblock %}

{% block content %}
<div id="profile_metadata">
    <h2>Usage Stats</h2>
    <p id="submission_count">{{display_user.submissions.all.count}} submissions</p>
    <p id="image_count">{{display_user.user_images.all.count}} images</p>
    <p id="comment_count">{{display_user.comments_left.all.count}} comments</p>
    <h2>Account Info</h2>
    <p id="registered_on">registered on: <span class="timestamp">{{display_user.date_joined|date:"Y-m-d"}}</span></p>
    <p id="last_signin">last signed in: <span class="timestamp">{{display_user.last_login|date:"Y-m-d H:i"}}</span></p>
    {% if user.is_authenticated and user == display_user %}
    <p>my API key: {% include 'user/api_key.html' with apikey=user.get_profile.apikey %}</p>
    {% endif %}
</div>
<div id="profile_data">
    <div id="profile_images">
        <h2>Recent Images</h2>
        {% if display_user.user_images.all %}  
        <a href="{% url astrometry.net.views.image.index_user user_id=display_user.id %}">View all</a>
        {% endif %}
        {% include 'user_image/image_set.html' with images=display_user.user_images.all|slice:":4" %}
    </div>
    <div id="profile_submissions">
        <h2>Recent Submissions</h2>
        {% include 'submission/list.html' with submissions=recent_submissions %}
    </div>
</div>
<div style="clear:both"></div>
{% endblock %}
