{% extends 'dashboard/base.html' %}

{% block dashboard_content %}
<p>
We had to change our login system, so logins after March 16, 2016 appear as new accounts.  If you want all of the images you have uploaded previously to appear in this new account, please <a href="mailto:support@astrometry.net?subject=Connect%20Astrometry.net%20account%20{{user.id}}/{{user.username}}/{{user.email}}">Email us</a> with the old and new account names (eg, "I used to use google account bobwob@gmail.com and now I'm using Twitter account @bobwob") and we'll connect it up.  Thanks!
</p>
{% endblock %}
