{% extends "dashboard/base.html" %}

{% block inline_css %}
{{block.super}}
{% include 'dashboard/api_key.css' %}
<style type="text/css">
div#license { font-style:italic }
</style>
{% endblock %}

{% block title %}
{{block.super}} &gt;
<a href="{% url astrometry.net.views.user.dashboard_profile %}">Edit Profile</a>
{% endblock %}
{% block dashboard_content %}
<form method="post" action="{% url astrometry.net.views.user.save_profile %}">
{% csrf_token %}
{{ profile_form.errors }}
{{ license_form.errors }}
<table class="settings_table">
<tr>
    <td class="leftcolumn" style="border:0px">
        <div class="setting_title">Display Name:</div>
        <div class="setting_description">
        </div>
    </td>
    <td style="border:0px">
        {{ profile_form.display_name }} {{ profile_form.display_name.errors }}
    </td>
</tr>
<tr>
    <td class="leftcolumn">
        <div class="setting_title">API Key:</div>
        <div class="setting_description">
            <p>
                Astrometry.net allows you to access parts of the service through a JSON API.
                Your API key is required to do so, but allows the service to track your
                usage as if you were using the service through the website interface.
            </p>
            <p>
                To access the Astrometry.net API, first create a session by sending a JSON 
                request with your API key as the argument <span class="code">'apikey'</span> 
                to <span class="code">{% url astrometry.net.api.api_login %}</span>. The
                API will return a session key, which must be included in subsequent
                requests sent to the API.
            </p>
        </div>
    </td>
    <td>
        {% comment %}{% include 'dashboard/api_key_div.html' with apikey=profile.apikey %}{% endcomment %}
        {% include 'user/api_key.html' with apikey=profile.apikey %}
    </td>
</tr>
<tr>
    <td class="leftcolumn">
        <div class="setting_title">Default License:</div>
        <div class="setting_description">
            <div id="license">
                By default, your submissions will be governed by: <br />
                {% include 'license/license_link.html' with license=profile.default_license %}
            </div>
        </div>
    </td>
    <td>
        <b>Allow commercial use?</b><br />
        {{ license_form.allow_commercial_use }}
        {{ license_form.allow_commercial_use.errors }}
        <br /><br />
        <b>Allow modifications?</b><br />
        {{ license_form.allow_modifications.errors }}
        {{ license_form.allow_modifications }}
    </td>
</tr>
</table>
<br />
<div style="text-align:center">
    <input type="submit" value="Update Profile" class="bigbutton" />
</div>
</form>
{% endblock %}
