{% extends 'dashboard.html' %}

{% block inline_css %}
{{block.super}}
{% include 'submission/list.css' %}
<style type="text/css">
span.image_id { font-weight:bold; }
td.image_id {
    width: 100px;
}
span.job_id { font-weight:bold; }
td.job_id {
    width: 200px;
}
td.job_status {
    width: 200px;
}
</style>
{% endblock %}

{% block title %}
{{block.super}} &gt;
<a href="{% url astrometry.net.views.user.dashboard_submissions %}">My Submissions</a>
{% endblock %}
{% block dashboard_content %}
{% include 'submission/list.html' with submissions=user_submissions %}
{% endblock %}

