*/*/*.dep
*/*/deps
*/*/*.o
*/*/*.a
*/*/*.tmp
*/*/*~
*/*~
astrometry/blind/astrometry-engine
astrometry/blind/augment-xylist
astrometry/blind/build-astrometry-index
astrometry/catalogs/2masstofits
astrometry/catalogs/build-hd-tree
astrometry/catalogs/ngc2000entries.c
astrometry/catalogs/ngc2000names.c
astrometry/catalogs/nomadtofits
astrometry/catalogs/tycho2tofits
astrometry/catalogs/usnobtofits
astrometry/blind/libastrometry.so
astrometry/catalogs/ngc2000.py
astrometry/catalogs/ngc2000accurate.py
astrometry/catalogs/ngc2000entries.py
astrometry/catalogs/ngcic-accurate-entries.c
astrometry/tools/an-fitstopnm
astrometry/tools/an-pnmtofits
astrometry/tools/control-program
astrometry/tools/downsample-fits
astrometry/tools/fit-wcs
astrometry/tools/fits-column-merge
astrometry/tools/fits-flip-endian
astrometry/tools/fits-guess-scale
astrometry/tools/fitscopy
astrometry/tools/fitsgetext
astrometry/tools/fitsverify
astrometry/tools/get-healpix
astrometry/tools/get-wcs
astrometry/tools/hpowned
astrometry/tools/hpsplit
astrometry/tools/image2xy
astrometry/tools/imarith
astrometry/tools/imcopy
astrometry/tools/imstat
astrometry/tools/listhead
astrometry/tools/liststruc
astrometry/tools/modhead
astrometry/tools/new-wcs
astrometry/tools/pad-file
astrometry/tools/query-starkd
astrometry/tools/resort-xylist
astrometry/tools/subtable
astrometry/tools/subwcs
astrometry/tools/tablist
astrometry/tools/tabmerge
astrometry/tools/tabsort
astrometry/tools/wcs-pv2sip
astrometry/tools/wcs-rd2xy
astrometry/tools/wcs-to-tan
astrometry/tools/wcs-xy2rd
astrometry/tools/wcsinfo
base/os-features-config.h
base/os-features-makefile.log
base/os-features-test-*
old-makefiles/makefile.os-features
qfits-an/astrometry

*/*.dep
*/*.o
*/*.so
*/deps
*/lib*.a
*/test_*-main.c
gsl-an/*/*.o
gsl-an/*.dSYM
util/os-features-test-*
*/*.pyc
blind/astrometry-engine
blind/augment-xylist
blind/build-astrometry-index
blind/fits-guess-scale
blind/fitscopy
blind/fitsverify
blind/get-wcs
blind/image2xy
blind/imarith
blind/imcopy
blind/imstat
blind/listhead
blind/liststruc
blind/modhead
blind/new-wcs
blind/plot-constellations
blind/plotquad
blind/plotstuff
blind/plotstuff_c.py
blind/plotstuff_wrap.c
blind/plotxy
blind/solve-field
blind/tablist
blind/tabmerge
blind/test.c
blind/wcs-grab
catalogs/2masstofits
catalogs/build-hd-tree
catalogs/ngc2000.py
catalogs/ngc2000accurate.py
catalogs/ngc2000entries.c
catalogs/ngc2000entries.py
catalogs/ngc2000names.c
catalogs/ngcic-accurate-entries.c
catalogs/nomadtofits
catalogs/tycho2tofits
catalogs/ucac3tofits
catalogs/ucac4tofits
catalogs/usnobtofits
gsl-an/cc-out.tmp
gsl-an/config.h
gsl-an/config.log
gsl-an/config.status
gsl-an/gsl-config
gsl-an/gsl.pc
gsl-an/gsl.spec
gsl-an/gsl_version.h
gsl-an/stamp-h1
include/astrometry/os-features-config.h
libkd/checktree
libkd/deps
libkd/fix-bb
sdss/cutils.py
sdss/cutils_wrap.c
util/an-fitstopnm
util/an-pnmtofits
util/an_build_ext.pyc
util/downsample-fits
util/fit-wcs
util/fits-column-merge
util/fits-flip-endian
util/fitsgetext
util/get-healpix
util/hpsplit
util/makefile.os-features
util/os-features-makefile.log
util/os-features.log
util/pad-file
util/query-starkd
util/search-index
util/subtable
util/tabsort
util/util.py
util/util_wrap.c
util/wcs-rd2xy
util/wcs-resample
util/wcs-to-tan
util/wcs-xy2rd
util/wcsinfo
