*/*.dep
*/*.o
*/*.so
*/deps
*/lib*.a
*/test_*-main.c
*/*.pyc
blind/*
__pycache__
solver/allquads
solver/astrometry-engine
solver/augment-xylist
solver/build-astrometry-index
solver/control-program
solver/fits-guess-scale
solver/fitscopy
solver/fitsverify
solver/get-wcs
solver/image2xy
solver/imarith
solver/imcopy
solver/imstat
solver/listhead
solver/liststruc
solver/modhead
solver/new-wcs
solver/solve-field
solver/query-starkd
solver/tablist
solver/tabmerge
solver/unpermute-stars
solver/test.c
solver/wcs-grab
solver/job.axy
solver/startree
solver/fitsverify.dSYM
plot/plot-constellations
plot/plotquad
plot/plotstuff_c.py
plot/plotstuff_wrap.c
plot/plotxy
catalogs/2masstofits
catalogs/build-hd-tree
catalogs/nomadtofits
catalogs/openngc-entries.c
catalogs/openngc-entries.csv
catalogs/openngc-names.c
catalogs/openngc-names.csv
catalogs/tycho2tofits
catalogs/ucac3tofits
catalogs/ucac4tofits
catalogs/usnobtofits
gsl-an/*/*.o
gsl-an/*.dSYM
gsl-an/cc-out.tmp
gsl-an/config.h
gsl-an/config.log
gsl-an/config.status
gsl-an/gsl-config
gsl-an/gsl.pc
gsl-an/gsl.spec
gsl-an/gsl_version.h
gsl-an/stamp-h1
include/astrometry/os-features-config.h
libkd/checktree
libkd/deps
libkd/fix-bb
sdss/cutils.py
sdss/cutils_wrap.c
util/os-features-test-*
util/an-fitstopnm
util/an-pnmtofits
util/an_build_ext.pyc
util/downsample-fits
util/fit-wcs
util/fits-column-merge
util/fits-flip-endian
util/fitsgetext
util/get-healpix
util/hpsplit
util/makefile.os-features
util/os-features-makefile.log
util/os-features.log
util/pad-file
util/query-starkd
util/search-index
util/subtable
util/tabsort
util/util.py
util/util_wrap.c
util/wcs-rd2xy
util/wcs-resample
util/wcs-to-tan
util/wcs-xy2rd
util/wcsinfo
util/wcs-match
util/wcs-pv2sip
report.txt
.DS_Store
.idea
.vscode
/cmake-build-debug/
