*/*/*.dep
*/*/deps
*/*/*.o
*/*/*.a
*/*/*.tmp
*/*/*~
*/*~
astrometry/blind/astrometry-engine
astrometry/blind/augment-xylist
astrometry/blind/build-astrometry-index
astrometry/catalogs/2masstofits
astrometry/catalogs/build-hd-tree
astrometry/catalogs/ngc2000entries.c
astrometry/catalogs/ngc2000names.c
astrometry/catalogs/nomadtofits
astrometry/catalogs/tycho2tofits
astrometry/catalogs/usnobtofits
astrometry/blind/libastrometry.so
astrometry/catalogs/ngc2000.py
astrometry/catalogs/ngc2000accurate.py
astrometry/catalogs/ngc2000entries.py
astrometry/catalogs/ngcic-accurate-entries.c
astrometry/tools/an-fitstopnm
astrometry/tools/an-pnmtofits
astrometry/tools/control-program
astrometry/tools/downsample-fits
astrometry/tools/fit-wcs
astrometry/tools/fits-column-merge
astrometry/tools/fits-flip-endian
astrometry/tools/fits-guess-scale
astrometry/tools/fitscopy
astrometry/tools/fitsgetext
astrometry/tools/fitsverify
astrometry/tools/get-healpix
astrometry/tools/get-wcs
astrometry/tools/hpowned
astrometry/tools/hpsplit
astrometry/tools/image2xy
astrometry/tools/imarith
astrometry/tools/imcopy
astrometry/tools/imstat
astrometry/tools/listhead
astrometry/tools/liststruc
astrometry/tools/modhead
astrometry/tools/new-wcs
astrometry/tools/pad-file
astrometry/tools/query-starkd
astrometry/tools/resort-xylist
astrometry/tools/subtable
astrometry/tools/subwcs
astrometry/tools/tablist
astrometry/tools/tabmerge
astrometry/tools/tabsort
astrometry/tools/wcs-pv2sip
astrometry/tools/wcs-rd2xy
astrometry/tools/wcs-to-tan
astrometry/tools/wcs-xy2rd
astrometry/tools/wcsinfo
base/os-features-config.h
base/os-features-makefile.log
base/os-features-test-*
makefiles/makefile.os-features

*/*.dep
*/*.o
*/*.so
*/deps
*/lib*.a
*/test_*-main.c
gsl-an/*/*.o
gsl-an/*.dSYM
util/os-features-test-*
*/*.pyc
gsl-an/cc-out.tmp
gsl-an/config.h
gsl-an/config.log
gsl-an/config.status
gsl-an/gsl-config
gsl-an/gsl.pc
gsl-an/gsl.spec
gsl-an/gsl_version.h
gsl-an/stamp-h1
libkd/checktree
libkd/deps
libkd/fix-bb
sdss/cutils.py
sdss/cutils_wrap.c
