{% extends "portal/base.html" %}

{% block pagetitle %}
Astrometry.net Login
{% endblock %}

{% block title %}
Login
{% endblock %}

{% block content %}
<form id="login" action="" method="post">
{% csrf_token %}
<div id="loginbox">

<table class="boxedtable" border="0">

{% if form.non_field_errors %}
<tr><td colspan="2">
<div class="myerrors">
{{ form.non_field_errors|join:", " }}
</div>
</td></tr>
{% endif %}

{% if form.username.errors %}
<tr><td colspan="2">
<div class="myerrors">
{{ form.username.errors|join:", " }}
</div>
</td></tr>
{% endif %}

<tr>
<td class="r">Username:</td>
<td> {{ form.username }} </td>
</tr>

{% if form.password.errors %}
<tr><td colspan="2">
<div class="myerrors">
{{ form.password.errors|join:", " }}
</div>
</td></tr>
{% endif %}

<tr>
<td class="r" style="padding-top:0px;">Password:</td>
<td> {{ form.password }} </td>
</tr>

<tr>
<td colspan="2" class="c">
<input type="hidden" name="next" value="{{ next }}" />
<input type="submit" name="login" value="Login" class="bigbutton" />
</td>

</tr>
</table>
</div> <!-- end loginbox -->
</form>

<div class="fineprint">
<a href="{% url astrometry.net1.resetpassword %}">Forgot your password?</a>
&nbsp; &nbsp;
<a href="{% url astrometry.net1.newaccount %}">Sign up!</a>
</div>

{% endblock content %}

