<div id="menu">

{% if user.is_authenticated %}

<b>{{ user.username }}</b>

{% else %}

<a href="{% url astrometry.net1.newaccount %}">Create an account</a>
 |
<a href="{% url astrometry.net1.resetpassword %}">Reset your password</a>

{% endif %}
 | |

<a href="{% url astrometry.net1.portal.newjob.newurl %}">Submit new image</a>
<a href="{% url astrometry.net1.portal.newjob.newfile %}">(file)</a>
<a href="{% url astrometry.net1.portal.newjob.newlong %}">(details)</a>

 | 
<a href="{% url astrometry.net1.portal.tags.taglist %}">Tags</a>
 | 

{% if user.is_authenticated %}
<a href="{% url astrometry.net1.portal.views.joblist %}">My images</a>
 | 
<a href="{% url astrometry.net1.portal.accounts.userprefs %}">Set preferences</a>
 | 
<a href="{% url astrometry.net1.logout %}">Sign out</a>
{% else %}

<a href="{% url astrometry.net1.login %}">Sign in</a>

{% endif %}

</div>
