<p class="c">
{% if firsturl %}
<a href="{{ firsturl }}">&lt;&lt;first</a>
{% else %}
<span class="grayedout">&lt;&lt;first</span>
{% endif %}
&nbsp;
{% if prevurl %}
<a href="{{ prevurl }}">&lt;prev</a>
{% else %}
<span class="grayedout">&lt;prev</span>
{% endif %}
&nbsp;
{% if nexturl %}
<a href="{{ nexturl }}">next&gt;</a>
{% else %}
<span class="grayedout">next&gt;</span>
{% endif %}
&nbsp;
{% if lasturl %}
<a href="{{ lasturl }}">last&gt;&gt;</a>
{% else %}
<span class="grayedout">last&gt;&gt;</span>
{% endif %}
</p>
