{% extends "portal/base.html" %}

{% block inlinecss %}
td.r {text-align:right; padding:10px;}
td.c {text-align:center;}
#logintable {padding:15px; padding-left:30px; padding-right:30px; margin-right:auto; margin-left:auto; border-style:solid; border-color:gray; border-width:thin;}
#loginbutton { font-size:110%; padding:2px; padding-left:10px; padding-right:10px; margin:10px; }
div.myerrors { font-size:110%; color:red; }
{% endblock inlinecss %}

{% block content %}
<h3 style="text-align:center;">Choose Password</h3>

<form method="post">
<div id="loginbox">
<table id="logintable" border="0">

{% if form.non_field_errors %}
<tr><td colspan="2">
<div class="myerrors">
{{ form.non_field_errors|join:", " }}
</div>
</td></tr>
{% endif %}

{% if form.new_password1.errors %}
<tr><td colspan="2">
<div class="myerrors">
{{ form.new_password1.errors|join:", " }}
</div>
</td></tr>
{% endif %}
<tr>
<td class="r">New Password:</td>
<td> {{ form.new_password1 }} </td>
</tr>

{% if form.new_password2.errors %}
<tr><td colspan="2">
<div class="myerrors">
{{ form.new_password2.errors|join:", " }}
</div>
</td></tr>
{% endif %}
<tr>
<td class="r">New Password Again:</td>
<td> {{ form.new_password2 }} </td>
</tr>

<tr>
<td colspan="2" class="c">
<input type="submit" name="login" value="Submit" id="loginbutton" />
</td>

</table>
</div> <!-- end loginbox -->
</form>


{% endblock content %}

