<ul id="tag_list">
    {% for user_image_tag in tags %}
    <li><a href="{% url 'image-search' %}?search_category=tag&tags={{user_image_tag.text|urlencode}}">{{ user_image_tag.text }}</a> 
    {% if user == user_image_tag.tagger or user == tagged_object_owner %}
    <a class="remove_tag confirm" 
       title="Are you sure you would like to delete this tag?"
       href="{% url 'remove_userimagetag' user_image_id=user_image_id tag_id=user_image_tag.pk %}{% if next %}?next={{next}}{% endif %}">[remove]</a></li>
    {% endif %}
    {% endfor %}
</ul>
