{% extends "base.html" %}
{% load i18n %}
{% block javascript %}
<script type="text/javascript">
var openid_suggestions = [
{% for s in openid_suggestions %}
"{{ s.1 }}",
{% endfor %}
];

function changeProvider() {
    select = document.getElementById("id_openid_identifier");
    username_block = document.getElementById("username_block");
    index = select.selectedIndex;
    if (openid_suggestions[index] == "") { // assume no username required
        username_block.style.display = "none";
    }
    else {
        document.getElementById("suggestion").innerHTML = openid_suggestions[index];
        username_block.style.display = "block";
    }
}
window.onload = function() {
    document.getElementById("id_openid_identifier").onchange = changeProvider;
    changeProvider();
}
</script>
{% endblock %}

{% block title %}
Sign in with your OpenID
{% endblock %}

{% block content %}
{% if form.errors %}
<p class="errors">{% trans "Please correct errors below:" %}<br />
    {% if form.openid_identifier.errors %}
    <span class="error">{{ form.openid_identifier.errors|join:", " }}</span>
    {% endif %}
    {% if form.next.errors %}
    <span class="error">{{ form.next.errors|join:", " }}</span>
    {% endif %}
</p>
{% endif %}
<form name="fopenid" action="{{ action }}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend>{% trans "Sign In Using Your OpenID" %}</legend>
        <div class="form-row">
            <label for="id_openid_identifier">{% trans "OpenID Provider:" %}</label><br />
            {{ form.openid_identifier }}
        </div>
        <div class="form-row" id="username_block">
            <label for="id_openid_identifier">{% trans "Username:" %}</label><br />
            {{ form.username }}
            <span id="suggestion"></span>
        </div>
        <br />
        <div class="submit-row ">
            <input name="bsignin" type="submit" value="{% trans "Sign in" %}">
        </div>
 {% if next %}
        <input type="hidden" name="next" value="{{ next }}" />
 {% endif %}
    </fieldset>
</form>
{% endblock %}
