<style type="text/css">
.image_container {
    display: inline-block;
    width: 240px;
    height: 240px;
    margin: 10px;
    margin-left: 0px;
    margin-right: 20px;
    background-color: #000000;
    background-position: center center;
    background-repeat: no-repeat;
}
.pagination {
    clear: both;
    width: 100%;
    text-align: center;
}
</style>

