<style type="text/css">
.loading_container {
    display: inline-block;
    width: 235px;
    height: 235px;
    margin: 5px;
    background-color: #000000;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('{{ STATIC_URL }}images/loading-black.gif');
}
.image_container {
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
}
.image_container a {
    display: block;
    width: 100%;
    height: 100%;
}
.image_container a:hover {
    background-color: transparent;
}
</style>

