<style type="text/css">
.thumbnail_container {
    position: relative;
    display: inline-block;
    width: 235px;
    height: 235px;
    margin: 5px;
    background-color: #000000;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('{{ STATIC_URL }}images/loading-black.gif');
    overflow: hidden;
}
.thumbnail_small {
    width: 100px;
    height: 100px;
}
.thumbnail_medium {
    width: 170px;
    height: 170px;
}
.thumbnail_large {
    width: 235px;
    height: 235px;
}
.image_container {
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
}
.thumbnail_container a {
    display: block;
    width: 100%;
    height: 100%;
}
.thumbnail_container a:hover {
    background-color: transparent;
}
.image {
    position: absolute;
}
</style>

