{% extends 'user_image/index.html' %}

{% block inline_css %}
{{block.super}}
<style type="text/css">
#images_by_user li {
    list-style: none;
    overflow:auto;
    width:100%;
}
</style>
{% endblock %}

{% block title %}
{{block.super}} &gt; 
<a href="{% url 'index_by_user' %}">By User</a>
{% endblock %}

{% block user_image_index_content %}
<ul id="images_by_user">
{% for user in users %}
    <li><h3>{% include 'user/display_name.html' with user=user %}</h3>
        <p>
            <a href="{% url 'index_user' user_id=user.id %}">
                {{user.user_images.all.count}} image{{ user.user_images.all.count|pluralize }}
            </a>
        </p>
    </li>
{% endfor %}
</ul>
{% endblock %}
