{% extends "user_image/index.html" %}

{% block inline_css %}
{{block.super}}
{% include 'tag/list.css' %}
{% include 'job/status.css' %}
{% include 'form_ajax.css' %}
<style type="text/css">
#image_container {
    position: relative;
    background-color: #000;
    background-image: url('{{ STATIC_URL }}images/loading-black.gif');
    background-position: center center;
    background-repeat: no-repeat;
    height: {{ display_image.height }}px;
    text-align: center;
}
#hover_bar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 665px;
    padding: 5px;
    color: #000;
    background-color: #fff;
}
#hover_bar #image_link_block {
    float: left;
}
#hover_bar #fullsize_link_block {
    float: right;
}
#left_block {
    float: left;
    width: 675px;
}
div#on_the_sky {
    text-align: center;
}
div#solver_output li {
    text-align: left;
    list-style: none;
    padding-left: 1em;
}
#details p { margin-top:0px; }
.indent { margin-left: 1em; }
#tags {  }
#comments {  }
div#edit_license {
    margin-top: 1em;
    width: 300px;
}
</style>
{% endblock %}

{% block javascript %}
{{ block.super }}
{% include 'form_ajax.js' %}
{% include 'comment/comment.js' %}
{% include 'tag/tag.js' %}
<script type="text/javascript">
    
var images = new Array();
var current_image = "none";
images['original_display'] ="{% url astrometry.net.views.image.serve_image display_image.id %}";
images['original'] ="{% url astrometry.net.views.image.serve_image image.image.id %}";
{% if calib %}
images['annotated_display'] = "{% url astrometry.net.views.image.annotated_image jobid=job.id size='display' %}";
images['annotated'] = "{% url astrometry.net.views.image.annotated_image jobid=job.id size='full' %}";
images['sdss_display'] = "{% url astrometry.net.views.image.sdss_image calid=job.calibration.id size='display' %}";
images['sdss'] = "{% url astrometry.net.views.image.sdss_image calid=job.calibration.id size='full' %}";
images['galex_display'] = "{% url astrometry.net.views.image.galex_image calid=job.calibration.id size='display' %}";
images['galex'] = "{% url astrometry.net.views.image.galex_image calid=job.calibration.id size='full' %}";
{% endif %}

function changeImage(key) {
    if (current_image != key) {
        current_image = key;

        link = $('a[title='+key+']')
        link.addClass('disabled')
        link.siblings().removeClass('disabled')
        $('#fullsize_link').attr('href',images[key]);
        
        image = $("#user_image");
        image.attr("src", images[key + "_display"]);
        image.hide();
        image.load(function() {
            image.show();
        });
    }
}
$(document).ready(function() {
    $('a.image_link').click(function(event) {
        changeImage($(this).attr('title'));
        event.preventDefault();
    });
    $('#image_container').hover(function() {
        $('#hover_bar').stop().fadeTo('fast',0.8);
    },function() {
        $('#hover_bar').stop().fadeTo('fast',0);
    });
    $('#hover_bar').stop().fadeTo('fast',0);
    {% if request.GET.image %}
        changeImage('{{ request.GET.image }}');
    {% else %} 
        {% if calib %}
        changeImage('annotated');
        {% else %}
        changeImage('original');
        {% endif %}
    {% endif %}
});
</script>
{% endblock %}

{% block title %}
{{block.super}} &gt; 
<a href="{{ image.get_absolute_url }}">
    {% if image.original_file_name %}
        {{ image.original_file_name }}
    {% else %}
        no name
    {% endif %}
</a>
{% endblock %}
{% block content %}

<div class="side_bar">
    <div id="details">
        Submitted by {% include 'user/display_name.html' with user=image.user %}<br />
        <div class="indent">on <span class="timestamp">{{ image.submission.submitted_on|date:"Y-m-d" }}</span></div>
        <div class="indent">as "{{ image.original_file_name }}"</div>
        <div class="indent" id="license">under {% include 'license/license_link.html' with licensable=image %}</a></div>
        {% if user.is_authenticated and user == image.user %}
        {% comment %}
        <br />
        <div class="indent" id="edit_license">
            {% include 'license/form.html' with license_form=license_form next=request.path licensable_id=image.id licensable_type='UserImage' %}
        </div>
        {% endcomment %}
        <br />
        <div class="indent">publicly visible:
            {% include 'hideable/publicly_visible.html' with hideable=image %}
        </div>
        {% endif %}
    </div>
    <hr />
    <div id="job_status">
        <h3>Job Status</h3>
        Job {{ job.id }}: <br />
        <div class="indent">
            {% include 'job/status.html' with job=job %}
        </div>
    </div>
    <hr />
    <div id="calibration">
        <h3>Calibration</h3>
        {% if calib %}
        center (RA, Dec): ({{ calib.format_radec }})<br />
        radius: {{ calib.format_radius }}<br />
        <a href="{% url astrometry.net.views.image.wcs_file jobid=job.id %}">wcs.fits</a><br />
        {% if job.user_image.image.disk_file.is_fits_image %}
        <a href="{% url astrometry.net.views.image.new_fits_file jobid=job.id %}">new-image.fits</a><br /><br />
        {% endif %}

        <div id="on_the_sky">
            <img src="{% url astrometry.net.views.image.onthesky_image zoom=0 calid=job.calibration.id %}" /><br />
            {% if calib.get_radius < 15 %}
            <img src="{% url astrometry.net.views.image.onthesky_image zoom=1 calid=job.calibration.id %}" /><br />
            {% if calib.get_radius < 1.5 %}
            <img src="{% url astrometry.net.views.image.onthesky_image zoom=2 calid=job.calibration.id %}" /><br />
            {% if calib.get_radius < 0.15 %}
            <img src="{% url astrometry.net.views.image.onthesky_image zoom=3 calid=job.calibration.id %}" /><br />
            {% endif %}
            {% endif %}
            {% endif %}
        </div>
        {% else%}
        No calibration data available.
        {% endif %}
    </div>
    <hr />
    <div id="tags">
        <h3>Tags</h3>
        {% include 'tag/list.html' with category='user_image' recipient_id=image.id tags=image.tags.all recipient_owner=image.user next=request.path %}
        {% include 'tag/form.html' with category='user_image' recipient_id=image.id recipient_owner=image.user next=request.path %}
    </div>
</div>
<div id="left_block">
    {% if user == image.user %}
    <div>
        <a href="{% url astrometry.net.views.image.edit user_image_id=image.id %}">Edit Image</a>
        <hr />
    </div>
    {% endif %}
    <div id="submitted_field">
        <div id="image_container">
            <img id="user_image" src="{% url astrometry.net.views.image.serve_image display_image.id %}" />
            <div id="hover_bar">
                <div id="image_link_block">
                    <a href="?image=original" title="original" class="image_link">original</a>
                    {% if calib %}
                    |
                    <a href="?image=annotated" title="annotated" class="image_link">annotated</a> |
                    <a href="?image=sdss" title="sdss" class="image_link">SDSS</a> |
                    <a href="?image=galex" title="galex" class="image_link">GALEX</a><br />
                    {% endif %}
                </div>
                <div id="fullsize_link_block">
                    <a href="" id="fullsize_link">fullsize ({{image.image.width}}x{{image.image.height}} pixels)</a>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div id="description">
        {{ image.description }}<br />
    </div>
    <div id="comments">
        <h3>Comments</h3>
        {% include 'comment/list.html' with comments=image.comments.all next=request.path %}
        {% include 'comment/form.html' with comment_form=comment_form category='user_image' recipient_id=image.id next=request.path %}
    </div>
</div>
<div style="clear:both"></div>
{% endblock %}
