{% extends "base.html" %}

{% block inline_css %}
{{block.super}}
<style type="text/css">
#image_container {
    background: url('{{ STATIC_URL }}images/loading.gif') no-repeat center center;
    width: {{ display_image.width }}px;
    height: {{ display_image.height }}px;
}
#submitted_field {
    float:left;
    vertical-align: top;
}
#on_the_sky {
    float:right;
    text-align:right;
    margin-left:10px;
}
#tags { clear:both; }
#comments { clear:both; }
</style>
{% endblock %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript">
function changeImage(link) {
    image = $("#user_image");
    if ($.trim(image.attr("src")) != link) {
        image.attr("src", link);
        image.hide();
        image.load(function() {
            image.show();
        });
    }
}
$(document).ready(function() {
    $('a.image_link').click(function(event) {
        changeImage($(this).attr('href'));
        event.preventDefault();
    });
});
</script>
{% endblock %}

{% block title %}User Image {{image.id}} {% endblock %}
{% block content %}

<div id="visualizations">
    <div id="on_the_sky">
    {% if calib %}
    <img src="{% url astrometry.net.views.image.onthesky_image calid=job.calibration.id %}" /><br />
    <img src="{% url astrometry.net.views.image.onthesky_zoom1_image calid=job.calibration.id %}" /><br />
    <img src="{% url astrometry.net.views.image.onthesky_zoom2_image calid=job.calibration.id %}" /><br />
    {% endif %}
    </div>

    <div id="submitted_field">
        Job {{ job.id }}<br />
        {% if calib %}
        RA,Dec center: ({{ calib.format_radec }}), radius {{ calib.format_radius }}
        <br />
        <a href="{% url astrometry.net.views.image.serve_image display_image.id %}" class="image_link">original</a> |
        <a href="{% url astrometry.net.views.image.annotated_image jobid=job.id size='display' %}" class="image_link">annotated</a> |
        <a href="{% url astrometry.net.views.image.sdss_image calid=job.calibration.id size='display' %}" class="image_link">SDSS</a> |
        <a href="{% url astrometry.net.views.image.galex_image calid=job.calibration.id size='display' %}" class="image_link">GALEX</a><br />
        {% endif %}
        <div id="image_container">
            <img id="user_image" src="{% if calib %}{% url astrometry.net.views.image.annotated_image jobid=job.id size='display' %}
                                      {% else %}{% url astrometry.net.views.image.serve_image display_image.id %}
                                      {% endif %}" />
        </div>
    </div>
    <!--<div style="clear:both"></div>-->
    <br />
</div>
<div id="tags">
    <h3>Tags</h3>
    {% include 'tag/list.html' with tags=image.tags.all %}
    <p><a class="add_tag" href="#">Add Tag (TODO)</a></p>
</div>
<div id="comments">
    <h3>Comments</h3>
    {% include 'comment/list.html' with comments=image.comments.all %}
    <div>
    {% if user.is_authenticated %}
        <form method="post" name="comment_form" action="{% url astrometry.net.views.comment.new category='userimage' recipient_id=image.id %}">
        {% csrf_token %}
        <p>{{ comment_form.text }}</p>
        <input type="hidden" name="next" value="{{request.path}}" />
        <input type="submit" value="Leave Comment" />
        </form>
    {% else %}
        Please <a href="/login">sign in</a> to post comments.
    {% endif %}
    </div>
</div>
{% endblock %}
