{% extends "user_image/index.html" %}

{% block inline_css %}
{{block.super}}
<style type="text/css">
#image_container {
    background: url('{{ STATIC_URL }}images/loading.gif') no-repeat center center;
    width: {{ display_image.width }}px;
    height: {{ display_image.height }}px;
}
#left_block {
    float:left;
}
#right_block {
    float: right;
    width: 275px;
    height: 100%;
    padding: 10px;
    background-color: #eee;
}
#right_block h3 {
    text-align: center;
}
#on_the_sky {
    width: 100%;
    text-align: center;
}
#tags {  }
#comments {  }
</style>
{% endblock %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript">
function changeImage(link) {
    image = $("#user_image");
    if ($.trim(image.attr("src")) != link) {
        image.attr("src", link);
        image.hide();
        image.load(function() {
            image.show();
        });
    }
}
$(document).ready(function() {
    $('a.image_link').click(function(event) {
        changeImage($(this).attr('href'));
        event.preventDefault();
    });
});
</script>
{% endblock %}

{% block title %}
{{block.super}} &gt; 
<a href="{{ image.get_absolute_url }}">{{image.id}}</a>
{% endblock %}
{% block content %}

<div id="right_block">
    <div id="details">
        Submitted by {% include 'user/display_name.html' with user=image.user %}<br />
        {{ image.submission.submitted_on|date:"DATE_FORMAT" }}<br />
        {{ image.original_file_name }}
        {% if calib %}
            <br /><a href="{% url astrometry.net.views.image.wcs_file jobid=job.id %}">wcs.fits</a>
        {% endif %}
    </div>
    <div id="on_the_sky">
        {% if calib %}
        <h3>Location</h3>
        RA,Dec center: ({{ calib.format_radec }}), radius {{ calib.format_radius }}<br />
        <img src="{% url astrometry.net.views.image.onthesky_image zoom=0 calid=job.calibration.id %}" /><br />
		{% if calib.get_radius < 15 %}
        <img src="{% url astrometry.net.views.image.onthesky_image zoom=1 calid=job.calibration.id %}" /><br />
		{% if calib.get_radius < 1.5 %}
        <img src="{% url astrometry.net.views.image.onthesky_image zoom=2 calid=job.calibration.id %}" /><br />
		{% if calib.get_radius < 0.15 %}
        <img src="{% url astrometry.net.views.image.onthesky_image zoom=3 calid=job.calibration.id %}" /><br />
		{% endif %}
		{% endif %}
		{% endif %}

        {% endif %}
    </div>
    <div id="tags">
        <h3>Tags</h3>
        {% include 'tag/list.html' with tags=image.tags.all %}
        <p><a class="add_tag" href="#">Add Tag (TODO)</a></p>
    </div>
</div>
<div id="left_block">
    <div id="submitted_field">
        Job {{ job.id }}<br />
        {% if calib %}
        <a href="{% url astrometry.net.views.image.serve_image display_image.id %}" class="image_link">original</a> |
        <a href="{% url astrometry.net.views.image.annotated_image jobid=job.id size='display' %}" class="image_link">annotated</a> |
        <a href="{% url astrometry.net.views.image.sdss_image calid=job.calibration.id size='display' %}" class="image_link">SDSS</a> |
        <a href="{% url astrometry.net.views.image.galex_image calid=job.calibration.id size='display' %}" class="image_link">GALEX</a><br />
        {% endif %}
        <div id="image_container">
            <img id="user_image" src="{% if calib %}{% url astrometry.net.views.image.annotated_image jobid=job.id size='display' %}
                                      {% else %}{% url astrometry.net.views.image.serve_image display_image.id %}
                                      {% endif %}" />
        </div>
    </div>
    <br />
    <div id="description">
        {{ image.description }}<br />
    </div>

    <div id="comments">
        <h3>Comments</h3>
        {% include 'comment/list.html' with comments=image.comments.all %}
        <div>
        <br />
        {% if user.is_authenticated %}
            <form method="post" name="comment_form" action="{% url astrometry.net.views.comment.new category='userimage' recipient_id=image.id %}">
            {% csrf_token %}
            <p>{{ comment_form.text }}</p>
            <input type="hidden" name="next" value="{{request.path}}" />
            <input type="submit" value="Leave Comment" />
            </form>
        {% else %}
            Please <a href="{% url openid-login %}">sign in</a> to post comments.
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}
