{% extends "portal/newjob.html" %}

{% block javascript %}
<script type="text/javascript">

var upload_id;

function onSubmitUpload() {
  enableUploadProgress();
  return true;
}

function enableUploadProgress() {
  var holder = document.getElementById('progressholder');
  holder.style.visibility = 'visible';
  var progress = document.getElementById('progressframe');
  holder.style.height = progress.height;

  progress.src = '{{ progressform }}' + upload_id;
}

function uploadframeloaded() {
  var form = getUploadForm();
  if (!form) {
    uploadFinished();
	return;
  }
  var doc = getUploadDoc();
  if (doc.getElementById('id_file')) {
    upload_id = form.upload_id.value;
	// set the main form's upload_id hidden field...
	document.forms.mainform.upload_id.value = upload_id;
    form.addEventListener('submit', onSubmitUpload, true);
  }
}

function uploadSucceeded() {
  //alert('upload succeeded: submitting main form.');
  document.forms.mainform.submit();
}

function uploadFailed() {
  //alert('upload failed.');
  var up = document.getElementById('uploadframe');
  up.src = '{{ uploadform }}';
}

function submitUploadForm() {
  var uploadform = getUploadForm();
  //if (uploadform) {
    uploadform.submit();
  //}
}

function onSubmitForm() {
  //alert('submitting upload form instead.');
  onSubmitUpload();
  submitUploadForm();
  return false;
}

//////////////////////////////////////////

function getUploadDoc() {
  return document.getElementById('uploadframe').contentDocument;
}
function getUploadForm() {
  var doc = getUploadDoc();
  return doc.getElementById('uploadform');
}
function uploadFinished() {
  var doc = getUploadDoc();
  if (doc.getElementById('upload-succeeded')) {
    //alert('upload succeeded')
	uploadSucceeded();
  } else {
    //alert('upload failed')
	uploadFailed();
  }
}
</script>
{% endblock javascript %}


{% comment %}
##############################
<div id="progressholder" style="visibility:hidden; height:0px;">
##############################
{% endcomment %}

{% block newjobcontent %}
<form method="post" id="mainform" onsubmit="return onSubmitForm();">
<p style="text-align:center">

<iframe onload="uploadframeloaded()" src="{{ uploadform }}" scrolling="no" frameborder="0" id="uploadframe"
style="width:25em; height:2em; vertical-align:top;">
  [Your user agent does not support iframes]
</iframe>

{{ form.upload_id }}
<input name="sub" value="Submit" type="submit" style="vertical-align:top;" />


<div id="progressholder" style="text-align:center;">
<iframe src="" scrolling="no" frameborder="0" id="progressframe" style="width:25em; height:3em;" >
[no iframes for you!]
</iframe>
</div>

</p>
</form>

<div id="switch_views">
<a href="{% url an.portal.newjob.newurl %}">switch to image URL version</a>
&nbsp;&nbsp;
<a href="{% url an.portal.newjob.newlong %}">switch to full version</a>
</div>

{% endblock newjobcontent %}

