{% extends "portal/base.html" %}

{% block inlinecss %}
#summarytable { margin-left:auto; margin-right:auto; border-collapse:collapse; border-style:solid; border-width:medium; border-color:black; }
#summarytable td { padding-top:3px; padding-bottom:3px; padding-left:10px; padding-right:10px; border-style:none solid; border-width:thin; border-color:gray; }
#summarytable th { padding-top:3px; padding-bottom:3px; padding-left:10px; padding-right:10px; border-style:solid; border-width:thin; border-color:gray; }
td.c { text-align:center; }
tr.even td { background-color:#EEE; }
tr.odd td {}
.smalllink { font-size:80%; }
{% endblock inlinecss %}


{% block content %}

{% if subs %}
<h3 style="text-align:center;">Multi-File Submissions</h3>
<table id="summarytable">
<tr>
<th>Submission Id</th>
<th>Submitted</th>
<th>Number of Jobs</th>
</tr>
{% for s in subs %}
<tr class="{% cycle even,odd %}">
<td>
<a href="{{ substatusurl }}{{ s.subid }}">{{ s.subid }}</a>
</td>
<td>
{{ s.format_submittime_brief }}
</td>
<td class="c">
{{ s.jobs.all|length }}
</td>
</tr>
{% endfor %}
</table>

{% endif %}

{% if jobs %}
<h3 style="text-align:center;">Jobs</h3>
<table id="summarytable">
<tr>
<th>Job Id</th>
<th>Description</th>
<th>Submitted</th>
<th>Status</th>
<th>Field</th>
<th>Shared<br />to the web?<br />
<form action="{% url astrometry.web.portal.views.changeperms %}" method="post" name="alljobsexposeform">
<input type="hidden" name="exposeall" value="1" />
<a href="javascript:document.forms.alljobsexposeform.submit();" class="smalllink">Share All</a>
</form>
<form action="{% url astrometry.web.portal.views.changeperms %}" method="post" name="alljobsunexposeform">
<input type="hidden" name="exposeall" value="0" />
<a href="javascript:document.forms.alljobsunexposeform.submit();" class="smalllink">Hoard All</a>
</form>

</th>
</tr>
{% for job in jobs %}

<tr class="{% cycle even,odd %}">

<td><a href="{{ statusurl }}{{ job.jobid }}"> {{ job.jobid }} </a></td>

<td>
{% if job.get_description %}
{{ job.short_description }}
{% endif %}
</td>

<td> {{ job.submission.format_submittime_brief }} </td>

<td class="c">{{ job.status }}
{% if job.failurereason %}
: {{ job.short_failurereason }}
{% endif %}
</td>

<td>
{% if job.submission.url %}
<a href="{{ job.submission.url }}">{% if job.field.origname %}{{ job.field.origname }}{% else %}URL{% endif %}</a>
&nbsp;
{% endif %}
{% if job.submission.uploaded.userfilename %}
{{ job.short_userfilename }}

{% if job.fileorigname %}
{% ifequal job.fileorigname job.submission.fileorigname %}
{% else %}
({{ job.fileorigname }})
{% endifequal %}
{% endif %}

{% comment %}
{# <a href="{{ getfileurl }}{{ job.jobid }}&f=original"></a> #}
{% ifequal job.jobid job.submission.jobid %}
{% else %}
{# tarfile #}
({{ job.field.origname }})
{% endifequal %}
{% endcomment %}

{% endif %}
<a href="{{ getfileurl }}{{ job.get_id }}&f=origfile">Cached</a>
</td>

<td class="c">
<form action="{% url astrometry.web.portal.views.changeperms %}" method="post" name="jobpermsform_{{ forloop.counter }}">
<input type="hidden" name="jobid" value="{{ job.get_id }}" />
{% if job.is_exposed %}
<input type="hidden" name="exposejob" value="0" />
Yes
&nbsp;
<a href="javascript:document.forms.jobpermsform_{{ forloop.counter }}.submit();" class="smalllink">Hoard</a>
{% else %}
<input type="hidden" name="exposejob" value="1" />
No
&nbsp;
<a href="javascript:document.forms.jobpermsform_{{ forloop.counter }}.submit();" class="smalllink">Share</a>
{% endif %}
</form>
</td>

</tr>
{% endfor %}

</table>
{% else %}
<h3 style="text-align:center;">No Jobs</h3>
{% endif %}{# jobs #}

{% comment %}
#########################
{% if voimgs %}
<h3 style="text-align:center;">Images Published to the VO</h3>
<table id="summarytable">

<tr>
<th>Field</th>
<th>Center (RA,Dec)</th>
<th>Image Format</th>
<th>Image Size</th>
</tr>

{% for img in voimgs %}
<tr>
<td class="c"><a href="{{ getfield }}{{ img.field.id }}">{{ img.image_title }}</a></td>
<td class="c">({{ img.ra_center|floatformat:2 }}, {{ img.dec_center|floatformat:2 }})</td>
<td class="c"> {{ img.field.filetype }} </td>
<td class="c"> {{ img.field.imagew }} x {{ img.field.imageh }} </td>
</tr>
{% endfor %}

</table>
{% else %}
<h3 style="text-align:center;">No Images Published to the VO</h3>
{% endif %}{# voimgs #}
#########################
{% endcomment %}

{% endblock content %}

