{% for comment in comments %}
<div class="comment">
    <div class="comment_text">
        <span class="author">{% include 'user/display_name.html' with user=comment.author %}</span>: 
        {{comment.text}}
    </div>
    <div class="comment_footer">
        <span class="timestamp">{{ comment.created_at|date:"Y-m-d H:i" }} ({{comment.created_at|timesince}} ago)</span>
        {% if comment.recipient.owner == request.user or comment.author == request.user %}
        <br /><a class="confirm" 
                 title="Are you sure you would like to delete this comment?"
                 href="{% url astrometry.net.views.comment.delete comment_id=comment.id %}?next={{request.path}}">[delete]</a>
        {% endif %}
    </div>
</div>
<br />
{% empty %}
<p><span class="empty">No comments.</p>
{% endfor %}
