<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html 
PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>

<link rel="shortcut icon" type="image/x-icon" href="{% url an.media %}favicon.ico" />
<link rel="icon" type="image/png" href="{% url an.media %}favicon.png" />

</head>

<body style="text-align:center;">

<p>
Thanks for submitting the main form.
</p>

<p>
Your favourite colour is "{{ colour }}" and you uploaded a file that is
called "{{ userfilename }}" of length
{{ filesize }} bytes.  On the server we call it "{{ serverfilename }}" but
that's just an opinion.  Thanks for playing.
</p>

</body>
</html>
