{% extends "album/view.html" %}

{% block inline_css %}
{{block.super}}
{% endblock %}

{% block title %}
{{block.super}} &gt;
<a href="{% url 'astrometry.net.views.album.edit' album_id=album.id %}">Edit</a>
{% endblock %}

{% block content %}
<form method="post" action="{% url 'astrometry.net.views.album.edit' album_id=album.id %}">
{% csrf_token %}
<table class="settings_table">
<tr>
    <td class="leftcolumn" style="border:0px">
        <div class="setting_title">Title:</div>
        <div class="setting_description">
        </div>
    </td>
    <td style="border:0px">
        {{ album_form.title }}
        {{ album_form.title.errors }}
    </td>
</tr>
<tr>
    <td class="leftcolumn">
        <div class="setting_title">Description:</div>
        <div class="setting_description">
        </div>
    </td>
    <td>
        {{ album_form.description }}
        {{ album_form.description.errors }}
    </td>
</tr>
<tr>
    <td class="leftcolumn">
        <div class="setting_title">Visibility:</div>
        <div class="setting_description">
            Permit anyone to view this album?
        </div>
    </td>
    <td>
        {{ album_form.publicly_visible }}
        {{ album_form.publicly_visible.errors }}
    </td>
</tr>
</table>
<br />
<div style="text-align:center">
    <input type="submit" value="Save Changes" class="bigbutton" />
    <a href="{{ album.get_absolute_url }}" style="margin-left:10px">Cancel</a>
</div>
</form>
{% endblock %}
