# -*- python -*-

import lsst.sconsUtils

dependencies = {
    "required": ["cfitsio"],
}

config = lsst.sconsUtils.ExternalConfiguration(
    __file__,
    headers=["solver.h"],
    libs=["pthread", "backend"],
)
