{% if job.status %}
    {% if job.status == 'S' %}
        <div class="good">Success</div>
    {% endif %}
    {% if job.status == 'F' %}
        <div class="bad">Failed</div>
    {% endif %}
    {% if not job.status == 'F' and not job.status == 'S' %}?{% endif %}
{% else %}
    <div>
        <div style="color:#666">Processing...</div>
        <div style="color:#666">Queued: <span class="timestamp">{{ job.queued_time|date:"Y-m-d H:i:s" }}</span></div>
        <div style="color:#080">Started: <span class="timestamp">{{ job.queued_time|date:"Y-m-d H:i:s" }}</span></div>
    </div>
{% endif %}
