<style type="text/css">
div#submission_list ul { padding-left: 0px; }
div#submission_list ul li {
    padding: 3px;
    list-style: none;
    border: 1px solid #999;
}
li.submission {
    margin-top: .5em;
}
.submission_job_list {
    margin-left: 1em;
    margin-top: .5em;
}
.submission_job_list, .submission_job_list tr td {
    border: 1px solid #ddd;
    text-align: left;
}
</style>
