<style type="text/css">
div#submission_list ul { padding-left: 0px; }
div#submission_list ul li {
    padding: 3px;
    list-style: none;
}
li.submission {
    margin-bottom: 2em;
}
.submission_job_list {
    width: 36em;
    margin-left: 2em;
    margin-top: .5em;
}
.submission_job_list, .submission_job_list tr td {
    border: 1px solid #ddd;
    text-align: left;
}
.submission_job_list tr td.image_id { width: 40%; }
.submission_job_list tr td.job_id { width: 40%; }
}
</style>
