{% extends "base.html" %}

{% block extrahead %}
{% if sub.is_finished %}
{% else %}

{% comment %}
<meta http-equiv="refresh" content="5; URL=" />
{% endcomment %}


{% endif %}
{% endblock extrahead %}

{% block pagetitle %}
Astrometry.net submission {{ sub.id }}
{% endblock %}

{% block title %}
Submission {{ sub.id }}
{% endblock %}

{% block content %}
{% for job in jobs %}
<p>
Job {{ job.id }}: {% include "job/status.html" with job=job %}
</p>


<p>
{% if job.calibration %}
RA,Dec center: ({{ calib.format_radec }}), radius {{ calib.format_radius }}
<br />
<img src="{% url astrometry.net.views.image.annotated_image jobid=job.id size='display' %}" />
<br />
<a href="{% url astrometry.net.views.image.sdss_image calid=job.calibration.id size='display' %}" />Get SDSS image</a>
<br />
<a href="{% url astrometry.net.views.image.galex_image calid=job.calibration.wcs.id size='display' %}" />Get GALEX image</a>
{% else %}
    {% if job %}
    <img src="{% url astrometry.net.views.image.serve_image id=job.user_image.image.get_thumbnail.id %}" />

<table border="1">
<tr><th>Tail of the Log File</th></tr>
<tr><td>
<pre>
{{ job.get_log_tail }}
</pre>
</td></tr>
</table>

    {% endif %}

{% endif %}
</p>
{% empty %}
<p>Thanks for your submission! Please bear with us while we process it.</p>
{% endfor %}
{% endblock %}
