{% extends "base.html" %}

{% block inline_css %}
{{block.super}}
<style type="text/css">
#settings_block    {display: none}
#scale_custom_block  {padding-left: 50px}
</style>
{% endblock %}


{% block javascript %}
{{ block.super }}
<script type="text/javascript">
function changeUploadType(type) {
    $('#file_block').toggle(type == 'file');
    $('#url_block').toggle(type == 'url');
}
function changeScaleType(type) {
    $('#ul_block').toggle(type == 'ul');
    $('#ev_block').toggle(type == 'ev');
}
function changeScalePreset(type) {
    $('#scale_custom_block').toggle(type == '5');
}
$(document).ready(function() {
    $('input[name=upload_type]:radio').click(function() {
        changeUploadType($(this).val());
    });
    changeUploadType($('input[name=upload_type]:radio:checked').val());

    $('input[name=scale_type]:radio').click(function() {
        changeScaleType($(this).val());
    });
    changeScaleType($('input[name=scale_type]:radio:checked').val());

    $('input[name=scale_preset]:radio').click(function() {
        changeScalePreset($(this).val());
    });
    changeScalePreset($('input[name=scale_preset]:radio:checked').val());

    $('#license_link').click(function(e) {
        $('#license_block').stop(true, true).slideToggle();
        e.preventDefault();
    }).toggle(function() {
        $(this).children('span').text("[-]");
    }, function() {
        $(this).children('span').text("[+]");
    });
    
    $('#settings_link').click(function(e) {
        $('#settings_block').stop(true, true).slideToggle();
        e.preventDefault();
    }).toggle(function() {
        $(this).children('span').text("[-]");
    }, function() {
        $(this).children('span').text("[+]");
    });
});
</script>
{% endblock %}

{% block title %}
Upload
{% endblock %}

{% block content %}
<form name="upload_form" action="/upload/" method="post" enctype="multipart/form-data">
{% csrf_token %}
{% if form.errors %}
Sorry, your submission could not be completed. Please fix all of the <span class="errorlist">highlighted</span> errors:<br /><br />
{% endif %}
{{ form.upload_type }}
<div id="file_block">{{ form.file }}</div>
<div id="url_block">{{ form.url }}</div>
{{ form.non_field_errors }}<br />
<br />
<table class="settings_table">
<tr>
    <td class="leftcolumn">
        <div class="setting_title">File Type:</div>
        <dl class="setting_description">
            <dt>image</dt>
                <dd>A JPEG, GIF, PNG, or FITS image.</dd><br />
            <dt>FITS binary table</dt>
                <dd>Must contain a BINTABLE of detected objects, with X and Y pixel positions in "D" (double) or "E" (float) columns, with one object per row.</dd><br />
            <dt>text list</dt>
                <dd>A text file, containing two columns of digits separated by commas or whitespace, listing the X,Y positions of sources, sorted with the brightest sources first.</dd><br />
        </dl>
    </td>
    <td>
        {{ form.source_type }}
    </td>
</tr>
</table>

<h4><a href="#" id="settings_link">Advanced Settings <span>[+]</span></a></h4>
<div id="settings_block">
<table class="settings_table" cellspacing="0">
<tr>
    <td class="leftcolumn">
        <div class="setting_title">License:</div>
        <div class="setting_description">
            {% if user.is_authenticated %}
                Your default license setting is
                {% include 'license/license_link.html' with licensable=default_license %}.
            {% else %}
                By submitting anonymously, you agree that your submitted image
                will be governed by
                {% include 'license/license_link.html' with licensable=default_license %}.
                To change this license setting, please <a href="{% url openid-login %}">Sign In</a>.
            {% endif %}
        </div>
    </td>
    <td>
        {% if user.is_authenticated %}
            <h5>Allow commercial use?</h5>
            {{ form.allow_commercial_use }}
            <h5>Allow modifications?</h5>
            {{ form.allow_modifications }}
        {% else %}
            <input type="hidden" name="allow_commercial_use" value />
            <input type="hidden" name="allow_modifications" value />
        {% endif %}
    </td>
<tr> 
    <td class="leftcolumn">
        <div class="setting_title">Scale:</div>
        <div class="setting_description">If you provide an estimate of the size of your field, our search will be much faster. Most digital-camera images are at least 10 degrees wide; most professional-grade telescopes are narrower than 2 degrees.</div> 
    </td> 
    <td>
        {{ form.scale_preset }}<br />
        <br />
        <div id="scale_custom_block">
            Units: {{ form.scale_units }}<br /><br />
            {{ form.scale_type }}<br /><br />
            <div id="ul_block">
                Lower bound:<br />{{ form.scale_lower.errors }}{{ form.scale_lower }}<br /><br />
                Upper bound:<br />{{ form.scale_upper.errors }}{{ form.scale_upper }}<br />
            </div>
            <div id="ev_block">
                Estimate:<br />{{ form.scale_est.errors }}{{ form.scale_est }}<br /><br />
                Error:<br />{{ form.scale_err.errors }}{{ form.scale_err }}%
            </div>
        </div>
    </td>
</tr> 
<tr> 
    <td class="leftcolumn">
        <div class="setting_title">Parity:</div>
        <div class="setting_description">Flipping an image reverses its "parity". If you point a digital camera at the sky and submit the JPEG, it probably has negative parity. If you have a FITS image, it probably has positive parity. Selecting the right parity will make the solving process run faster, but if in doubt just try both.
        </div> 
    </td> 
    <td>
        {{ form.parity.errors }}{{ form.parity }}
    </td>
</tr> 
<tr>  
    <td class="leftcolumn">
        <div class="setting_title">Star Positional Error:</div>
        <div class="setting_description">When we find a matching "landmark", we check to see how many of the stars in your field match up with stars we know about. To do this, we need to know how much a star in your field could have moved from where it should be.
        </div> 
    </td> 
    <td>
        {{ form.positional_error.errors }}{{ form.positional_error }} pixels
    </td>
</tr> 
<tr> 
    <td class="leftcolumn">
        <div class="setting_title">Limits:</div>
        <div class="setting_description">In order to narrow down our search, you can supply a field center along with a radius. We will only search in indexes which fall within this area.</div> 
    </td> 
    <td>
        RA:<br />{{ form.center_ra.errors }}{{ form.center_ra }} degrees<br /><br />
        Dec:<br />{{ form.center_dec.errors }}{{ form.center_dec }} degrees<br /><br />
        Radius:<br />{{ form.radius.errors }}{{ form.radius }} degrees<br />
    </td>
</tr> 
<tr> 
    <td class="leftcolumn">
        <div class="setting_title">Downsample:</div>
        <div class="setting_description">We can downsample your image by a given factor before performing the source extraction.</div> 
    </td> 
    <td>
        {{ form.downsample_factor.errors }}{{ form.downsample_factor }} (factor)<br />
    </td>
</tr> 
</table>
</div>
<input type="submit" value="Submit" />
</form>
{% endblock %}
