{% extends "base.html" %}

{% block javascript %}
<script type="text/javascript">
function changeUploadType(type) {
    file_block = document.getElementById("file_block");
    url_block = document.getElementById("url_block");

    file_block.style.display = (type == "file") ? "block":"none";
    url_block.style.display = (type == "url") ? "block":"none";
}
window.onload = function() {
    radio_group = document.forms['upload_form'].elements["upload_type"];
    for (var i=0; i<radio_group.length; i++) {
        if (radio_group[i].checked) {
            changeUploadType(radio_group[i].value);
            break;
        }
    }
}
</script>
{% endblock %}

{% block title %}
Upload
{% endblock %}

{% block content %}
<form name="upload_form" action="/upload/" method="post" enctype="multipart/form-data">
{% csrf_token %}
{{ form.non_field_errors }}
{{ form.upload_type }}
<div id="file_block">{{ form.file }}</div>
<div id="url_block">{{ form.url }}</div>
<br />
<input type="submit" value="Submit" />
</form>
{% endblock %}
