{% extends "base.html" %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript">
function changeUploadType(type) {
    $('#file_block').toggle(type == 'file');
    $('#url_block').toggle(type == 'url');
}
$(document).ready(function() {
    $('input[name=upload_type]:radio').click(function() {
        changeUploadType($(this).val());
    });
    changeUploadType($('input[name=upload_type]:radio:checked').val())
});
</script>
{% endblock %}

{% block title %}
Upload
{% endblock %}

{% block content %}
<form name="upload_form" action="/upload/" method="post" enctype="multipart/form-data">
{% csrf_token %}
{{ form.non_field_errors }}
{{ form.upload_type }}
<div id="file_block">{{ form.file }}</div>
<div id="url_block">{{ form.url }}</div>
<br />
<input type="submit" value="Submit" />
</form>
{% endblock %}
