{% extends "server/base.html" %}

{% block content %}

<h3>Job Queues</h3>

<table border="1">
<tr>
<th>Name</th>
<th>Type</th>
</tr>
{% for q in jobqueues %}
<tr>
<td>{{ q.name }}</td>
<td>{{ q.queuetype }}</td>
</tr>
{% endfor %}
</table>

<h3>Queued Jobs</h3>

<table border="1">
<tr>
<th>Queue</th>
<th>Job Id</th>
<th>In Progress?</th>
<th>Done?</th>
<th>Priority</th>
<th>Worked-On By</th>
</tr>
{% for j in queuedjobs %}
<tr>
<td>{{ j.q }}</td>
<td>
{% if j.job %}
Job
{{ j.job.jobid }}
{% endif %}
{% if j.submission %}
Submission
{{ j.submission.subid }}
{% endif %}
</td>
<td>{{ j.inprogress }}</td>
<td>{{ j.done }}</td>
<td>{{ j.priority }}</td>
<td>{{ j.workers.all|join:", "}}</td>
</tr>
{% endfor %}
</table>

<h3>Workers</h3>

<table border="1">
<tr>
<th>Queue</th>
<th>Hostname</th>
<th>Process</th>
<th>Indexes</th>
<th>Current Job</th>
</tr>
{% for ww in workers %}
<tr>
<td>{{ ww.queue }}</td>
<td>{{ ww.hostname }}</td>
<td>{{ ww.processid }}</td>
<td>{{ ww.pretty_index_list }}</td>
<td>{{ ww.job }}</td>
</tr>
{% endfor %}
</table>


<h3>Indexes</h3>

<table border="1">
<tr>
<th>Id</th>
<th>Healpix</th>
<th>Scale Low</th>
<th>Scale High</th>
<th>Loaded by</th>
</tr>
{% for i in indexes %}
<tr>
<td>{{ i.indexid }}</td>
<td>{{ i.healpix }}</td>
<td>{{ i.scalelo }}</td>
<td>{{ i.scalehi }}</td>
<td>{{ i.pretty_workers_list }}</td>
</tr>
{% endfor %}
</table>



{% endblock %}
