{% extends "pageheader.html" %}
{% block head %}
<head>
{% block favicon %}
{% include "favicon.html" %}
{% endblock favicon %}

{% block linkcss %}
<link rel="stylesheet" href="{% url astrometry.net.media %}style.css" />
{% endblock linkcss %}
{% block inlinecssblock %}
<style type="text/css">
#menu { float:right; padding:0px; margin-top:0; margin-bottom:auto; font-size:75%; font-family:sans-serif; }
.bigbutton { font-size:110%; padding:2px; padding-left:10px; padding-right:10px; margin:10px; }
div.myerrors { font-size:110%; color:red; }
{% block inlinecss %}
{% endblock inlinecss %}
</style>
{% endblock inlinecssblock %}

{% block javascript %}
{% endblock javascript %}

<title>{% block title %}Astrometry.net{% endblock %}</title>
{% block extrahead %}
{% endblock extrahead %}
</head>
{% endblock head %}

{% block thebody %}
{% block bodytag %}
<body>
{% endblock bodytag %}

{% block usernameblock %}
<div id="username">
{% include "portal/menu.html" %}
</div>
{% endblock usernameblock %}

{% block logo %}
<div id="logo">
{% include "logo.html" %}
</div>
{% endblock logo %}

<div id="content">
{% block content %}
base content
{% endblock %}
</div>

</body>
{% endblock thebody %}
