{% extends "portal/base.html" %}

{% block extrahead %}
{% if submission.is_finished %}
{% else %}

{% if reload_time %}
<meta http-equiv="refresh" content="{{ reload_time }}; URL=" />
{% endif %}

{% endif %}
{% endblock extrahead %}

{% block inlinecss %}
#summarytable { margin-left:auto; margin-right:auto; border-collapse:collapse; border-style:solid; border-width:medium; border-color:black; }
#summarytable td { padding-top:3px; padding-bottom:3px; padding-left:10px; padding-right:10px; border-style:none solid; border-width:thin; border-color:gray; }
#summarytable th { padding-top:3px; padding-bottom:3px; padding-left:10px; padding-right:10px; border-style:solid; border-width:thin; border-color:gray; }
td.c { text-align:center; }
tr.even td { background-color:#EEE; }
tr.odd td {}
p.c { text-align:center; }
h3.c { text-align:center; }
.delcollink { font-size:75%; text-align:center; color:#999; }
.grayedout { color:#999; }
{% endblock inlinecss %}

{% block javascript %}

{% if xmlsummaryurl %}
<script type="text/javascript">
var req;
var reload = true;
var period = 5000;

function copynode(n) {
  // TEXT_NODE = 3
  if (n.nodeType == 3) {
    return document.createTextNode(n.nodeValue);
  // ELEMENT_NODE = 1
  } else if (n.nodeType == 1) {
    m = document.createElement(n.nodeName);
    for (k=0; k<n.attributes.length; k++) {
      a = n.attributes[k].name
      v = n.attributes[k].value
      //alert('Setting attribute "' + a + '" to "' + v + '".');
      m.setAttribute(a, v);
    }
    for (k=0; k<n.childNodes.length; k++) {
      m.appendChild(copynode(n.childNodes[k]));
    }
    return m;
  }
  return null;
}

function processRequest() {
  if (!req) {
    return false;
  }
  if (req.readyState != 4) {
    return false;
  }
  if (req.status != 200) {
    return true;
  }
  xml = req.responseXML;
  if (!xml) {
    return true;
  }

  jobs = xml.getElementsByTagName('job');
  for (i=0; i<jobs.length; i++) {
    job = jobs[i];
    //jobid = job.getAttribute('jobid');
    jobn = job.getAttribute('n');
    for (j=0; j<job.childNodes.length; j++) {
      child = job.childNodes[j];
      //      if (child.
      col = child.nodeName;
      id = 'job-' + jobn + '-' + col;
      div = document.getElementById(id);
      if (!div) {
        continue;
      }
      //div.innerHTML = child.innerHTML;
      //div.firstChild.nodeType = child.firstChild.nodeType;
      //div.firstChild.nodeValue = child.firstChild.nodeValue;
      while (div.childNodes.length) {
        div.removeChild(div.childNodes[0]);
      }       
      for (k=0; k<child.childNodes.length; k++) {
        n = child.childNodes[k];
        div.appendChild(copynode(n));
      }
    }
  }

  stops = xml.getElementsByTagName('stop');
  if (stops.length > 0) {
    stop();
  }   

  return true;
}

function requestStateChanged() {
  if (processRequest()) {
    if (reload) {
      setTimeout('sendRequest()', period);
    }
  }
}

function sendRequest() {
  req = new XMLHttpRequest();
  req.onreadystatechange = requestStateChanged;
  var url = '{{ xmlsummaryurl }}';
  req.open('GET', url, true);
  req.setRequestHeader('Content-Type', 'text/plain;charset=UTF-8');
  //  req.data = ' ';
  req.send(' ');
}

function start() {
  setTimeout('sendRequest()', period);
  //sendRequest();
}

function stop() {
  reload = false;
  if (req) {
    req.abort();
  }
  req = null;
}

function onLoad() {
  start();
}

function onUnload() {
  stop();
}
</script>
{% endif %}{# xmlsummaryurl #}

{% endblock javascript %}

{% block bodytag %}

{% if xmlsummaryurl %}
<body onload="onLoad();" onunload="onUnload();">
{% else %}
<body>
{% endif %}

{% endblock bodytag %}

{% block content %}

<h3 class="c">
{% if title %}
{% autoescape off %}
{{ title }}
{% endautoescape %}
({{ firstnum }} to {{ lastnum }} of {{ totalnum }})
{% else %}
Jobs {{ firstnum }} to {{ lastnum }} of {{ totalnum }}
{% endif %}
</h3>

{% if jobs %}
{% include "portal/nextprev.html" %}

{% if addcolumns %}
<p class="c">
Add column:
{% for c,n in addcolumns %}
<a href="{{ thisurl }}&amp;cols={{c}}">{{n}}</a>&nbsp;
{% endfor %}
</p>
{% endif %}

<table id="summarytable">

<tr>
{% for c,n,d in columns %}
<th>{{ n }} <a href="{{d}}" class="delcollink">x</a></th>
{% endfor %}
</tr>

{% for job,jobid,jobn in rjobs %}
<tr class="{% cycle even,odd %}">
{% autoescape off %}
{% for tdclass,col,val in job %}
<td class="{{ tdclass }}">
<span id="job-{{ jobn }}-{{ col }}">
{{ val }}
</span>
</td>
{% endfor %}
{% endautoescape %}
</tr>
{% endfor %}

</table>

{% include "portal/nextprev.html" %}

<br />

<p class="c">
<a href="{{ gmaps }}">
View this set of jobs in the Google Maps viewer
</a>
</p>

{% else %}
<table id="summarytable">

<tr>
<th>Job Status:</th>
<td>{{ submission.status }}</td>
</tr>

</table>

{% endif %}

{% endblock content %}

