<div id="menu">

{% if user.is_authenticated %}

<b>{{ user.username }}</b>

{% else %}

<a href="{% url astrometry.net.newaccount %}">Create an account</a>
 |
<a href="{% url astrometry.net.resetpassword %}">Reset your password</a>

{% endif %}
 | 

<a href="{% url astrometry.net.portal.newjob.newurl %}">Submit new image (URL)</a>
&nbsp;
<a href="{% url astrometry.net.portal.newjob.newfile %}">(file)</a>
&nbsp;
<a href="{% url astrometry.net.portal.newjob.newlong %}">(long)</a>

 | 
<a href="{% url astrometry.net.portal.tags.taglist %}">Tags</a>
 | 

{% if user.is_authenticated %}
<a href="{% url astrometry.net.portal.views.joblist %}">My images</a>
 | 
<a href="{% url astrometry.net.portal.views.userprefs %}">Set preferences</a>
 | 
<a href="{% url astrometry.net.logout %}">Sign out</a>
{% else %}

<a href="{% url astrometry.net.login %}">Sign in</a>

{% endif %}

</div>
