{% extends "portal/newjob.html" %}

{% block newjobcontent %}
<form enctype="multipart/form-data" method="post" action="{{ actionurl }}">

{% if urlerr %}
<div class="err"> {{ urlerr }} </div>
{% endif %}

<p style="text-align:center">
{{ form.url }}
<input name="submit" value="Submit" type="submit" />
</p>

<div id="switch_views">
<a href="{% url astrometry.net.portal.newjob.newfile %}">switch to file upload version</a>
&nbsp;&nbsp;
<a href="{% url astrometry.net.portal.newjob.newlong %}">switch to full version</a>
</div>

</form>
{% endblock newjobcontent %}

