{% extends "portal/base.html" %}

{% block title %}
Reset Password
{% endblock %}

{% block content %}
<form method="post">
<div>
<table class="boxedtable">

{% if form.email.errors %}
<tr><td colspan="2">
<div class="myerrors">
{{ form.email.errors|join:", " }}
</div>
</td></tr>
{% endif %}
<tr>
<td class="r">Email Address:</td>
<td> {{ form.email }} </td>
</tr>

<tr>
<td colspan="2" class="c">
<input type="submit" value="Reset my password" class="bigbutton" />
</td>
</tr>

</table>
</div> <!-- end loginbox -->
</form>


{% endblock content %}

