{% extends "portal/base.html" %}

{% block content %}
<h3 style="text-align:center;">Enter New Password</h3>

<form action="" method="post">
<div id="loginbox">

<table id="logintable" border="0">

{% if form.non_field_errors %}
<tr><td colspan="2">
<div class="myerrors">
{{ form.non_field_errors|join:", " }}
</div>
</td></tr>
{% endif %}

{% if form.username.errors %}
<tr><td colspan="2">
<div class="myerrors">
{{ form.username.errors|join:", " }}
</div>
</td></tr>
{% endif %}

<tr>
<td class="r">Username:</td>
<td> {{ form.username }} </td>
</tr>

{% if form.password.errors %}
<tr><td colspan="2">
<div class="myerrors">
{{ form.password.errors|join:", " }}
</div>
</td></tr>
{% endif %}

<tr>
<td class="r" style="padding-top:0px;">Password:</td>
<td> {{ form.password }} </td>
</tr>

<tr>
<td colspan="2" class="c">
<input type="hidden" name="next" value="{{ next }}" />
<input type="submit" name="login" value="Login" id="loginbutton" />
</td>

</tr>
</table>
</div> <!-- end loginbox -->
</form>










<form action="" method="post">
{% if form.new_password1.errors %}{{ form.new_password1.errors }}{% endif %}
<p class="aligned wide"><label for="id_new_password1">{% trans 'New password:' %}</label>{{ form.new_password1 }}</p>
{% if form.new_password2.errors %}{{ form.new_password2.errors }}{% endif %}
<p class="aligned wide"><label for="id_new_password2">{% trans 'Confirm password:' %}</label>{{ form.new_password2 }}</p>
<p><input type="submit" value="{% trans 'Change my password' %}" /></p>
</form>

{% else %}

<h1>{% trans 'Password reset unsuccessful' %}</h1>

<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}

{% endif %}

{% endblock %}
We've e-mailed a new password to the e-mail address you entered. You
should be receiving it shortly.
</p>

{% endblock %}


{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href="../../">{% trans 'Home' %}</a> &rsaquo; {% trans 'Password reset' %}</div>{% endblock %}

{% block title %}{% trans 'Password reset complete' %}{% endblock %}

{% block content %}

<h1>{% trans 'Password reset complete' %}</h1>

<p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>

<p><a href="{{ login_url }}">{% trans 'Log in' %}</a></p>

{% endblock %}
