{% extends "portal/base.html" %}

{% block title %}
{% if validlink %}
Enter New Password
{% else %}
{% endif %}
{% endblock %}
Password reset unsuccessful
{% block content %}

{% if validlink %}
<form action="" method="post">
<div id="loginbox">

<table class="boxedtable" border="0">

{% if form.non_field_errors %}
<tr><td colspan="2">
<div class="myerrors">
{{ form.non_field_errors|join:", " }}
</div>
</td></tr>
{% endif %}

{% if form.new_password1.errors %}
<tr><td colspan="2">
<div class="myerrors">
{{ form.new_password1.errors|join:", " }}
</div>
</td></tr>
{% endif %}

<tr>
<td class="r">New Password:</td>
<td> {{ form.new_password1 }} </td>
</tr>

{% if form.new_password2.errors %}
<tr><td colspan="2">
<div class="myerrors">
{{ form.new_password2.errors|join:", " }}
</div>
</td></tr>
{% endif %}

<tr>
<td class="r">Confirm Password:</td>
<td> {{ form.new_password2 }} </td>
</tr>

<tr>
<td colspan="2" class="c">
<input type="submit" name="login" value="Submit" class="bigbutton" />
</td>

</tr>
</table>
</div> <!-- end loginbox -->
</form>

{% else %}

<p class="c">
The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.
</p>

{% endif %}
{% endblock %}
