{% extends "base.html" %}

{% block inline_css %}
{{block.super}}
<style type="text/css">
#dashboard {
    overflow:auto;
    width: 100%;
}
#dashboard div {
    height:100%;
    vertical-align:top;
    float:left;
}
#dashboard_menu {
    width:20%;
}
#dashboard_menu ul {
    padding-left: 0px;
    padding-right: 10px;
}
#dashboard_menu ul li {
    height:100%;
    margin-bottom: 10px;
    list-style: none;
}
#dashboard_menu ul li a {
    display:inline-block;
    padding-left: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    width:100%;
    height:100%;
}
#dashboard_menu ul li a:hover {
    background-color:#dde;
}
#dashboard_content {
    width:80%;
}
</style>
{% endblock %}

{% block title %}
    <a href="{% url astrometry.net.views.user.dashboard %}">Dashboard</a>{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<div id="dashboard">
    <div id="dashboard_menu">
        {% include 'control_panel.html' %}
    </div>
    <div id="dashboard_content">
    {% block dashboard_content %}
    {% endblock %}
    </div>
</div>
{% else %}
{% endif %}
{% endblock content %}
