{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
    <br />
    <a href="{% url astrometry.net.views.user.get_api_key %}">Get API key</a>

    <br/>
    {% for sub in user.submissions.all %}
    <br/>
    <a href="{% url astrometry.net.views.submission.status subid=sub.id %}">Submission {{ sub.id }}</a>
    {% endfor %}
{% else %}
{% endif %}

    <br/>
    <br />
    <a href="{% url astrometry.net.views.submission.upload_file %}">Upload File</a>
    <br>
{% endblock content %}
