<p id="supported_by">
This project is partially supported by the US National Science Foundation, 
the US National Aeronautics and Space Administration, and the Canadian 
National Science and Engineering Research Council.
<br/>
The Nova.astrometry.net web service is hosted by the Canadian Advanced Network For Astronomical Research operated by the Canadian Astronomy Data Center, part of the National Research Council of Canada.
<br/>
None of the views expressed on this site represent those of the funding agencies.
</p>
