{% extends 'base.html' %}

{% block inline_css %}
{{block.super}}
{% include 'user_image/image_set.css' %}
<style type="text/css">
#blocks {
	float: left;
	margin-right: 10px;
}
#blocks a          {color: #000; text-decoration: none; background-color: #ccc;}
#blocks a:link     {background-color: #ccc; color: #000;}
#blocks a:visited  {background-color: #ccc; color: #000;}
#blocks a:hover    {background-color: #06c; color: #fff; text-decoration: none;}
#intro {
}
.block {
	display: block;
	width: 200px;
	height: 175px;
	background: #ccc;
	margin: 10px;
	padding: 15px;
}
.block h1 {
	margin-top: 0px;
}
</style>
{% endblock %}

{% block title %}
<h2>Home</h2>
{% endblock %}

{% block content %}
<div id="blocks">
	<a id="explore_block" class="block" href="{% url astrometry.net.views.home.explore %}">
		<h1>Explore</h1>
		Browse images others have been uploading or search for photos of specific astronomical objects.
	</a>
	<a id="share_block" class="block" href="{% url astrometry.net.views.submission.upload_file %}">
		<h1>Calibrate & Share</h1>
		Upload your own images to get accurate calibrations and share them with the world.
	</a>
	<a id="create_block" class="block" href="{% url astrometry.net.views.home.api_help %}">
		<h1>Create</h1>
		Take advantage of the API of this web service to program your own applications.
	</a>
</div>
<div id="intro">
	<h2 style="display:inline-block">About Astrometry.net</h2>
	<p>
	If you have astronomical imaging of the sky with celestial coordinates you do not know—or do not trust—then Astrometry.net is for you. Input an image and we'll give you back astrometric calibration meta-data, plus lists of known objects falling inside the field of view.
	</p>
	<p>
	We have built this astrometric calibration service to create correct, standards-compliant astrometric meta-data for every useful astronomical image ever taken, past and future, in any state of archival disarray. We hope this will help organize, annotate and make searchable all the world's astronomical information.
	</p>


	<h2 style="display:inline-block">Recently Submitted Images</h2> (<a href="{% url astrometry.net.views.home.explore %}">See More</a>)
	{% include 'user_image/image_set.html' with images=images|slice:":8" thumbnail_size='medium' %}
</div>
{% endblock %}
