{% extends "base.html" %}

{% block inlinecss %}
div.image_set img {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 10px;
    background-color: #000000;
    background-position: center center;
}
{% endblock %}

{% block title %}
{% comment %}
{% if category == 'user' %}
    {{ cat_obj.get_full_name }}'s Images
{% endif %}
{% if category == 'album' %}
    Album {{ cat_obj.id }}
{% endif %}
{% if category == 'tag' %}
    Images tagged with {{ cat_obj.text }}
{% endif %}
{% endcomment %}
{{ image_set_title }}
{% endblock %}

{% block content %}
<div class="image_set">
{% for image in images %}
    <a href="{% url astrometry.net.views.image.user_image image.id %}">
    <img class="image_container" src="{% url astrometry.net.views.image.serve_image id=image.image.get_or_create_thumbnail.id %}" />
    </a>
{% empty %}
    No images.
{% endfor %}
</div>
{% endblock content %}

