<div id="logo">
<img src="http://astrometry.net/logo.png" alt="Astrometry.net logo" />
</div>

<div id="auth_status">
{% if user.is_authenticated %}
    Signed in as <b>{{ user.get_full_name }} ({{ user.email }})</b> |
    <a href="{% url openid-logout %}">Sign Out</a>
{% else %}
    Not signed in | 
    <a href="{% url openid-login %}">Sign in</a>
{% endif %}
</div>
<div id="menu_links">
     |
    <a href="#">Home</a>
     | 
    {% if user.is_authenticated %}
    <a href="{% url astrometry.net.views.user.dashboard %}">Dashboard</a>
     |
    {% endif %}
    <a href="{% url astrometry.net.views.submission.upload_file %}">Upload</a>
     | 
    {% comment %}
    <a href="{% url astrometry.net1.portal.tags.taglist %}">Tags</a>
     | 
    {% endcomment %}

    {% comment %}
    <a href="{% url astrometry.net1.portal.views.joblist %}">My images</a>
     | 
    <a href="{% url astrometry.net1.portal.accounts.userprefs %}">Set preferences</a>
     | 
    {% endcomment %}
</div>

