<ul>
{% spaceless %}
<li><a href="{% url 'home' %}">Home</a></li>
<li>
    <a href="{% url 'explore' %}">Explore</a>
    <ul class="dropdown"> 
        <li><a href="{% url 'images' %}">Images</a></li>
        <li><a href="{% url 'users' %}">Users</a></li>
        <li><a href="{% url 'tags' %}">Tags</a></li>
    </ul>
</li>


{% if user.is_authenticated %}
<li>
    <a href="{% url 'dashboard' %}">Dashboard</a>
    <ul class="dropdown"> 
        <li><a href="{% url 'user_profile' user_id=user.id %}">My Profile</a></li>
        <li><a href="{% url 'dashboard_profile' %}">Edit Profile</a></li>
        <li><a href="{% url 'dashboard_user_images' %}">My Images</a></li>
        <li><a href="{% url 'dashboard_albums' %}">My Albums</a></li>
        <li><a href="{% url 'dashboard_submissions' %}">My Submissions</a></li>
    </ul>
</li>
{% endif %}
<li><a href="{% url 'upload-file' %}">Upload</a></li>
<li><a href="{% url 'api-help' %}">API</a></li>
<li><a href="{% url 'support' %}">Support</a></li>
{% endspaceless %}

</ul>

<div id="search">
<form method="get" action="{% url 'images-tag' %}">
<input type="text" name="query" id="search_query" autocomplete="off" />
<input type="submit" value="Search" />
</form>
</div>
