<div id="menu">

{% if user.is_authenticated %}

<b>Signed in as {{ user.get_full_name }} ({{ user.email }})</b>

{% else %}

<b>Not signed in</b> | 
<a href="{% url openid-login %}">Sign in</a>

{% endif %}
 |

<a href="{% url astrometry.net.views.upload_file %}">Upload new image</a>
 | 
{% comment %}
<a href="{% url astrometry.net1.portal.tags.taglist %}">Tags</a>
 | 
{% endcomment %}

{% if user.is_authenticated %}

{% comment %}
<a href="{% url astrometry.net1.portal.views.joblist %}">My images</a>
 | 
<a href="{% url astrometry.net1.portal.accounts.userprefs %}">Set preferences</a>
 | 
{% endcomment %}

<a href="{% url django.contrib.auth.views.logout %}">Sign out</a>
{% else %}

{% endif %}

</div>
