{% extends "base.html" %}

{% block extrahead %}
{% if sub.is_finished %}
{% else %}

{% comment %}
<meta http-equiv="refresh" content="5; URL=" />
{% endcomment %}


{% endif %}
{% endblock extrahead %}

{% block pagetitle %}
Astrometry.net submission {{ sub.id }}
{% endblock %}

{% block title %}
Submission {{ sub.id }}
{% endblock %}

{% block content %}
Job {{ job.id }}

{% if calib %}
<center>
<img src="{% url astrometry.net.views.annotated_image jobid=job.id %}" />
</center>
{% else %}


{% if job %}
<center>
<img src="{% url astrometry.net.views.submitted_image jobid=job.id %}" />
</center>
{% endif %}

{% endif %}

{% endblock %}
