{% extends "base.html" %}

{% block inlinecss %}
.submission {
    margin-top: .5em;
}
.submission_job_list {
    margin-left: 1em;
    margin-top: .5em;
}

.submission_job_list, .submission_job_list tr td {
    border: 1px solid #ddd;
    text-align: left;
}

span.image_id { font-weight:bold; }
td.image_id {
    width: 100px;
}
span.job_id { font-weight:bold; }
td.job_id {
    width: 200px;
}
td.job_status {
    width: 200px;
}
{% endblock %}

{% block title %}Submissions Summary for User {{ submitter.id }} {% endblock %}
{% block content %}
<div id="submission_list">
<ul>
    {% for sub in submitter.submissions.all %}
    <li class="submission">
        <a href="{% url astrometry.net.views.submission.status subid=sub.id %}">Submission {{ sub.id }}</a>
        <table class="submission_job_list">
            {% for user_image in sub.user_images.all %}
            {% for job in user_image.jobs.all %}
            <tr>
                <td class="image_id">image <span class="image_id">{{user_image.id}}</span></td>
                <td class="job_id">job id <span class="job_id">{{ job.id }}</span></td>
                <td class="job_status">{% include "job_status.html" with job=job %}</td>
            </tr>
            {% endfor %}
            {% empty %}
            <tr><td colspan="2">No Jobs</td></tr>
            {% endfor %}
        </table>
    </li>
    {% empty %}
    <li>No submissions</li>
    {% endfor %}
</ul>
</div>
{% endblock content %}
