{% extends 'base.html' %}

{% block title %}Support{% endblock %}

{% block content %}
<p>
Please email <img src="http://astrometry.net/alphaemail.gif"> for help.
</p>
<p>
Or, check out <a href="http://forum.astrometry.net/">the Forum</a>.<br />
(But you might also want to send an email to <img src="http://astrometry.net/alphaemail.gif"> pointing out your posting, since we never remember to check the forum!)
<p>
This site is under development during summer 2011 (we're in Google Summer of Code), so please feel free to request new features and report bugs!
</p>
{% endblock %}

