{% extends "base.html" %}

{% block javascript %}
<script type="text/javascript">
function change_image(url) {
    document.getElementById('user_image').src = url;
}
</script>
{% endblock %}

{% block title %}User Image {{image.id}} {% endblock %}
{% block content %}
Job {{ job.id }}<br />

<div>
    {% if calib %}
    RA,Dec center: ({{ calib.format_radec }}), radius {{ calib.format_radius }}
    <br />
    <br />
    <a href="javascript:change_image('{% url astrometry.net.views.image.serve_image image.image.id %}')">original</a> |
    <a href="javascript:change_image('{% url astrometry.net.views.image.annotated_image jobid=job.id %}')">annotated</a> |
    <a href="javascript:change_image('{% url astrometry.net.views.image.sdss_image calid=job.calibration.id %}')">SDSS</a> |
    <a href="javascript:change_image('{% url astrometry.net.views.image.galex_image calid=job.calibration.id %}')" />GALEX</a><br />
    <img id="user_image" src="{% url astrometry.net.views.image.annotated_image jobid=job.id %}" />
    {% else %}
    <img id="user_image" src="{% url astrometry.net.views.image.serve_image image.image.id %}" />
    {% endif %}
    <br />
</div>
<div id="image_tags">
    <h3>Tags</h3>
    <ul>
        {% for tag in image.tags.all %}
        <li>tag.text <a class="remove_tag" href="#">[remove (TODO)]</a></li>
        {% endfor %}
    </ul>
    <p><a id="add_tag" href="#">Add Tag (TODO)</a></p>
</div>
{% endblock %}
