{% extends "base.html" %}

{% block javascript %}
<script type="text/javascript">
function change_image(url) {
    document.getElementById('user_image').src = url;
}
</script>
{% endblock %}

{% block title %}User Image {{image.id}} {% endblock %}
{% block content %}
Job {{ job.id }}<br />

<div>
    {% if calib %}
    RA,Dec center: ({{ calib.format_radec }}), radius {{ calib.format_radius }}
    <br />
    <br />
    <a href="javascript:change_image('{% url astrometry.net.views.image.serve_image image.image.id %}')">original</a> |
    <a href="javascript:change_image('{% url astrometry.net.views.image.annotated_image jobid=job.id %}')">annotated</a> |
    <a href="javascript:change_image('{% url astrometry.net.views.image.sdss_image calid=job.calibration.id %}')">SDSS</a> |
    <a href="javascript:change_image('{% url astrometry.net.views.image.galex_image calid=job.calibration.id %}')" />GALEX</a><br />
    <img id="user_image" src="{% url astrometry.net.views.image.annotated_image jobid=job.id %}" />
    {% else %}
    <img id="user_image" src="{% url astrometry.net.views.image.serve_image image.image.id %}" />
    {% endif %}
    <br />
</div>
<div id="tags">
    <h3>Tags</h3>
    {% include 'tags.html' with tags=image.tags.all %}
    <p><a class="add_tag" href="#">Add Tag (TODO)</a></p>
</div>
<div id="comments">
    <h3>Comments</h3>
    {% include 'comments.html' with comments=image.comments.all %}
    <div><form method="post" name="comment_form" action="{% url astrometry.net.views.comment.new category='userimage' recipient_id=image.id %}">
        {% csrf_token %}
        <p>{{ comment_form.text }}</p>
        <input type="hidden" name="next" value="{{request.path}}" />
        <input type="submit" value="Leave Comment" />
    </form></div>
</div>
{% endblock %}
