{% extends "base.html" %}

{% block inline_css %}
{{block.super}}
<style type="text/css">
#image_container {
    background: url('/{{ STATIC_URL }}images/loading.gif') no-repeat center center;
    width: {{ image.image.display_image.width }}px;
    height: {{ image.image.display_image.height }}px;
}
</style>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
function changeImage(link) {
    image = document.getElementById('user_image')
    image.src = link.href;
    image.style.visibility = 'hidden';
    image.onload = function() {
        this.style.visibility = 'visible';
    }
    return false;
}
</script>
{% endblock %}

{% block title %}User Image {{image.id}} {% endblock %}
{% block content %}

<div>
    <div style="float:right;">
    {% if calib %}
    <img src="{% url astrometry.net.views.image.onthesky_image calid=job.calibration.id %}" /><br />
    <img src="{% url astrometry.net.views.image.onthesky_zoom1_image calid=job.calibration.id %}" /><br />
    <img src="{% url astrometry.net.views.image.onthesky_zoom2_image calid=job.calibration.id %}" /><br />
    {% endif %}
    </div>

    <div>
        Job {{ job.id }}<br />
        {% if calib %}
        RA,Dec center: ({{ calib.format_radec }}), radius {{ calib.format_radius }}
        <br />
        <a href="{% url astrometry.net.views.image.serve_image image.image.display_image.id %}" onclick="return changeImage(this)">original</a> |
        <a href="{% url astrometry.net.views.image.annotated_image jobid=job.id %}?scale={{scale}}" onclick="return changeImage(this)">annotated</a> |
        <a href="{% url astrometry.net.views.image.sdss_image calid=job.calibration.id %}?scale={{scale}}" onclick="return changeImage(this)">SDSS</a> |
        <a href="{% url astrometry.net.views.image.galex_image calid=job.calibration.id %}?scale={{scale}}" onclick="return changeImage(this)">GALEX</a><br />
        {% endif %}
        <div id="image_container">
            <img id="user_image" src="
                {% if calib %}{% url astrometry.net.views.image.annotated_image jobid=job.id %}?scale={{scale}}
                {% else %}{% url astrometry.net.views.image.serve_image image.image.display_image.id %}
                {% endif %}" />
        </div>
    </div>
    <!--<div style="clear:both"></div>-->
    <br />
</div>
<div id="tags">
    <h3>Tags</h3>
    {% include 'tags.html' with tags=image.tags.all %}
    <p><a class="add_tag" href="#">Add Tag (TODO)</a></p>
</div>
<div id="comments">
    <h3>Comments</h3>
    {% include 'comments.html' with comments=image.comments.all %}
    <div><form method="post" name="comment_form" action="{% url astrometry.net.views.comment.new category='userimage' recipient_id=image.id %}">
        {% csrf_token %}
        <p>{{ comment_form.text }}</p>
        <input type="hidden" name="next" value="{{request.path}}" />
        <input type="submit" value="Leave Comment" />
    </form></div>
</div>
{% endblock %}
