{% extends "base.html" %}

{% block pagetitle %}
Astrometry.net Login
{% endblock %}

{% block javascript %}
<script type="text/javascript">
// <![CDATA[
// the above is required to make this valid XHTML.
function removeAllChildren(node) {
	while (node.childNodes.length) {
		node.removeChild(node.childNodes[0]);
	}
}

function providerChanged() {
  var prov = document.getElementById('id_provider').value;
  var label = document.getElementById('openid_label');
  switch (prov) {
    case 'google':
      removeAllChildren(label);
      label.appendChild(document.createTextNode('<img src="https://www.google.com/accounts/google_transparent.gif"> Account:'));
      break;
  }
}
// ]]>
</script>
{% endblock javascript %}


{% block title %}
Sign In with your OpenId
{% endblock %}

{% block content %}
<form id="login" action="" method="post">
{% csrf_token %}
<div id="loginbox">

<table class="boxedtable" border="0">

{% if form.non_field_errors %}
<tr><td colspan="2">
<div class="myerrors">
{{ form.non_field_errors|join:", " }}
</div>
</td></tr>
{% endif %}

{% if form.provider.errors %}
<tr><td colspan="2">
<div class="myerrors">
{{ form.provider.errors|join:", " }}
</div>
</td></tr>
{% endif %}

<tr>
<td class="r">Open Id Provider:</td>
<td> {{ form.provider }} </td>
</tr>

{% if form.openid.errors %}
<tr><td colspan="2">
<div class="myerrors">
{{ form.openid.errors|join:", " }}
</div>
</td></tr>
{% endif %}

<tr>
<td class="r"><div id="openid_label"><!--img src="http://www.google.ca/images/logo_sm.gif" /-->
<img src="/mymedia/google_logo.gif" alt="Google" />
<!--https://www.google.com/accounts/google_transparent.gif" alt="Google" /--> Account:</div></td>
<td> {{ form.openid }} </td>
</tr>

<tr>
<td colspan="2" class="c">
<input type="hidden" name="next" value="{{ next }}" />
<input type="submit" name="login" value="Login" class="bigbutton" />
</td>

</tr>
</table>
</div> <!-- end loginbox -->
</form>

{% endblock content %}

